.ant-row{
    line-height: 32px;
}
.app-good-table{
    margin-top: 20px;
}
.row-first {
    text-align: center;
  }
.row-img {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.app-good-list{
    min-width: 800px;
}