.my-login{
    background: rgb(45, 58, 75);
    height: 100%;
    width: 100%;
    color: rgb(238, 238, 238);
    .ant-form{
        width: 600px;
        margin: 0 auto;
        padding-top: 150px;
    }
}
.form-label label,.form-ckspan span {
    color: rgb(238, 238, 238);
}