.root-web {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .root-aside {
      position: absolute;
      left: 0;
      width: 170px;
      bottom: 0;
      top: 0;
      font-size: 20px;
      font-weight: normal;
      .on{
        color: orange;
      }
    }
    .root-main {
      position: absolute;
      left: 170px;    
      bottom: 0;
      top: 0;
      right: 0;
    }
  }